@import "tailwindcss";
/* app/globals.css */

@keyframes slideInLeftMeet {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRightMeet {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left-meet {
  animation: slideInLeftMeet 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.animate-slide-in-right-meet {
  animation: slideInRightMeet 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

